%html

  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title My Mood

    = stylesheet_link_tag 'bootstrap.min'
    = stylesheet_link_tag 'index'
    = stylesheet_link_tag 'bootstrap-responsive.min'
    = stylesheet_link_tag 'jquery-ui'

  %body
    %div.navbar.navbar-inverse.navbar-fixed-top
      %div.navbar-inner
        %div.container-fluid
          %div.brand MyMood
          %ul.nav
            %li.divider-vertical
            %li <a href="#">Home</a>
            %li.divider-vertical
            %li <a href="#">Settings</a>
          %ul.nav.pull-right
            %li <a href="#">User</a>
            %li.divider-vertical
            %li <a href="#">Logout</a>

    %div.content
      %h1 OMG HI ADMIN
      = flash[:notice]
      %h2 Current Categories
      %div.well
        %table
          %tbody
            - @categories.each do |cat|
              %tr
                %td= cat.name
                - if (cat.prefix)
                  %td= cat.prefix
                - else
                  %td No Prefix
      %h3 Add New Category
      = form_for andre_path do
        = label :category, :name, "Category Name"
        = text_field :category, 'name', :required => 'true'
        = label :category, :prefix, "Category Prefix"
        = text_field :category, 'prefix', :required => 'true'
        = submit_tag 'Add Category'
      

      %h2 Current Messages
      %div.well.pre-scrollable
        %table
          %tbody
            - @messages.each do |message|
              %tr
                %td= message.text
                - if (message.category)
                  %td= message.category.name
                - else
                  %td No Category
        
      %h3 Add New Message
      = form_tag admin_path do
        = label :message, :text, "Message Text"
        = text_field :message, 'text', :required => 'true'
        = label :message, :category, "Message Category"
        = select :message, :category, @categories.map{|c| [c.name, c.name]}, :required => 'true'
        = submit_tag 'Add Message'

    = javascript_include_tag 'bootstrap.min.js'
    = javascript_include_tag 'jquery-1.10.2.min.js'
    = javascript_include_tag 'index.js'
    = javascript_include_tag 'jquery-ui'
