%html

  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title My Mood

  %body
    %div.content
      %div.container-fluid
        %div.row-fluid
          %div.span4.offset2
            %h1.title-against-dark-bg Welcome to My Mood!
            %p.title-against-dark-bg About My Mood:
            %li.title-against-dark-bg SMS-based mood tracking service 
            %li.title-against-dark-bg Visualize your mood trends over time
            %li.title-against-dark-bg Customizable to your schedule.
          %div.span4
            %div.well
              %h3 Login
              = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
                - flash.each do |name, msg|
                  = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
                %div
                  = f.label :phone_number
                  %i (format should be ###-###-####)
                  %br/
                  = f.text_field :phone_number, :autofocus => true
                %div
                  = f.label :password
                  -#%br/
                  = f.password_field :password
                - if devise_mapping.rememberable?
                  %div
                    = f.check_box :remember_me, :id => 'remember-me'
                    = f.label :remember_me
                %div= f.submit 'Sign in', :class => 'btn'
              = render 'devise/shared/links'
