%html

  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title My Mood

    = stylesheet_link_tag 'bootstrap.min'
    = stylesheet_link_tag 'index'
    = stylesheet_link_tag 'bootstrap-responsive.min'
    = stylesheet_link_tag 'jquery-ui'

  %body
    %div.navbar.navbar-inverse.navbar-fixed-top
      %div.navbar-inner
        %div.container-fluid
          %div.brand MyMood
          %ul.nav
            %li.divider-vertical
            %li#home <a href="#">Home</a>
            %li.divider-vertical
            %li#settings <a href="#">Settings</a>
          %ul.nav.pull-right
            %li#user_pic=image_tag 'fake_user_small.png'
            %li <a href="#">User</a>
            %li.divider-vertical
            %li <a href="#">Logout</a>

    %div.container-fluid.content
      %div#homepage-content
        %div.row-fluid
          %div.span2.offset1
            %div#avg-mood 8.6
          %div.span8
            %h3 It's great that you're doing well! Try thinking of what influenced your mood and reflect on it when you don't feel well.
        %br
        %br
        %div.row-fluid
          %div.span5.offset1
            #myCarousel.carousel.slide
              %div.carousel-inner
                %div.active.item#line-graph
                %div.item#pie-chart
              %a.carousel-control.left{'data-slide' => 'prev', href: '#myCarousel'} ‹
              %a.carousel-control.right{'data-slide' => 'next', href: '#myCarousel'} ›
          %div.span5.well
            %div#widget
              MyMood: Hello! How are you today?
              %br
              User: 3
              %br
              MyMood: I see you're not feeling well, what's wrong?
      %div#settings-content
        %div.row-fluid
          %div.span5.offset1
            %h4 User Settings
            %div.well.settings
              = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
                = devise_error_messages!
                %div
                  = f.label :phone_number
                  = f.email_field :phone_number, :autofocus => true
                -#- if devise_mapping.confirmable? && resource.pending_reconfirmation?
                -#  %div
                -#    Currently waiting confirmation for: #{resource.unconfirmed_email}
                %div
                  = f.label :password
                  %i (leave blank if you don't want to change it)
                  = f.password_field :password, :autocomplete => "off"
                %div
                  = f.label :password_confirmation
                  = f.password_field :password_confirmation
                %div
                  = f.label :current_password
                  %i (we need your current password to confirm your changes)
                  = f.password_field :current_password
                %div= f.submit "Update"
              %h3 Cancel my account
              %p
                Unhappy? #{button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}
              = link_to "Back", :back
              |
              = link_to "Change your password", edit_user_registration_path
          %div.span5
            %h4 Message Settings
            %div.well.settings


    = javascript_include_tag 'bootstrap.min.js'
    -#= javascript_include_tag 'jquery-1.10.2.min.js'
    -#= javascript_include_tag 'highcharts'
    %script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'}
    = javascript_include_tag 'jquery-ui'
    %script{src: 'http://code.highcharts.com/highcharts.js'}
    = javascript_include_tag 'index.js'

